<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<plugins>
		<!-- 分页插件 -->
		<plugin
			interceptor="cn.com.businessservicesplatform.interceptor.PageInterceptor">
			<property name="pageSqlId" value=".*Page.*" />
		</plugin>
	</plugins>

</configuration>
